<header class="bg-[#121829]">
  <nav
    class="mx-auto flex items-center justify-between py-8 px-14"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="#" class="-m-1.5 p-1.5">
        <span class="sr-only">Movlix</span>
        <img
          class="h-8 w-auto"
          src="assets/icons/movlix-logo.svg"
          alt="Movlix Logo"
        />
      </a>
    </div>
    <div class="flex gap-4">
      <a href="#" class="text-base font-semibold leading-6 text-gray-200">
        Movies
      </a>
      <a href="#" class="text-base font-semibold leading-6 text-gray-200">
        TV Shows
      </a>
    </div>
  </nav>
</header>
