<div
  class="bg-[#20283E] max-w-fit px-3 pt-3 pb-6 rounded-xl relative w-64 h-[calc(100%-10px)] cursor-pointer"
  id="CntrCard"
  aria-hidden="true"
  (click)="onCardClick()"
>
  <div>
    <div
      *ngIf="hasRating"
      class="mt-1 ml-1 rounded-lg p-2 text-[#FFAD49] text-sm flex gap-1 absolute bg-black"
    >
      <img src="assets/icons/star.svg" alt="Star Icon" />
      <p>{{ rating }}</p>
    </div>
    <img
      src="https://image.tmdb.org/t/p/w342{{ imageUrl }}"
      alt="Movie Poster"
    />
  </div>
  <p class="pt-6 text-base text-white font-semibold">{{ title }}</p>
</div>
