{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "ignore",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^@angular/(.*)$",
    "^rxjs(/.*)?$",
    "<THIRD_PARTY_MODULES>",
    "",
    "^[.]{1,2}/.*$",
    "",
    "^src/app/core/(.*)$",
    "",
    "^src/app/shared/(.*)$"
  ],
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0"
}
