<div class="w-full px-4 py-6">
  <div
    class="hide-scrollbar 3xl:grid-cols-6 flex snap-x snap-mandatory gap-4 overflow-x-auto pb-6 lg:grid lg:grid-cols-3 lg:gap-6 lg:overflow-visible xl:grid-cols-4 2xl:grid-cols-5"
  >
    @for (content of contents; track content.id) {
      <div class="w-36 shrink-0 snap-start sm:w-40 md:w-44 lg:w-auto">
        <app-card
          [id]="content.id"
          [imageUrl]="content.posterUrl"
          [hasRating]="true"
          [hasFavorite]="hasIconLove"
          [rating]="content.rating"
          [title]="content.title"
          (clicked)="onCardClick(content.id)"
          (favoriteClicked)="onFavoriteIconClick(content)"
        ></app-card>
      </div>
    }
  </div>
</div>
