<app-dialog (closeClicked)="onCloseClick()">
  <div dialogBody>
    <div class="flex justify-center">
      <img
        src="assets/images/love.png"
        alt="Love Images"
        width="200"
        height="200"
      />
    </div>
    <p class="text-center text-2xl font-bold text-white">
      Successfully Save Favorite Movie
    </p>
    <p class="mt-6 text-center text-base font-semibold text-gray-400">
      The movie has been added to the favorites list. You can see it on my
      favorite page.
    </p>
  </div>
</app-dialog>
