<div
  mat-dialog-content
  class="!max-h-none !overflow-hidden !bg-transparent !p-0"
>
  <div
    class="relative mx-auto flex w-[95vw] max-w-6xl flex-col overflow-hidden rounded-[2.5rem] bg-[#121829] ring-1 ring-white/10"
  >
    <div
      class="relative z-20 flex items-center justify-between border-b border-white/5 px-8 py-4"
    >
      <div class="flex items-center gap-4"></div>

      <div class="flex items-center gap-2">
        <button
          (click)="openFullscreen()"
          class="group flex h-10 w-10 cursor-pointer items-center justify-center rounded-xl transition-all duration-300 hover:bg-white/10"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-zinc-400 group-hover:text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1.5"
              d="M15 3h6m0 0v6m0-6L14 10M9 21H3m0 0v-6m0 6l7-7"
            />
          </svg>
        </button>

        <button
          (click)="onCloseClick()"
          class="group flex h-10 w-10 cursor-pointer items-center justify-center rounded-xl bg-white/5 transition-all duration-500 hover:bg-red-600"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5 text-zinc-300 group-hover:text-white"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>

    <div class="group/video relative aspect-video w-full bg-black">
      <iframe
        [src]="sanitizedVideoUrl"
        class="absolute top-0 left-0 h-full w-full"
        frameborder="0"
        allow="
          accelerometer;
          autoplay;
          clipboard-write;
          encrypted-media;
          gyroscope;
          picture-in-picture;
        "
        allowfullscreen
      ></iframe>

      <div class="pointer-events-none absolute inset-x-0 bottom-0 h-32"></div>
    </div>
  </div>
</div>
