<div class="fixed top-0 bottom-0 left-0 right-0 z-50 bg-[rgba(0,0,0,.5)]">
  <div
    class="fixed top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%] rounded-2xl bg-[#121829] p-8 opacity-90 lg:p-18"
  >
    <div>
      <div
        class="mt-6 mr-6 rounded-lg p-2.5 text-[#FFAD49] text-sm flex gap-1 absolute top-0 right-0 bg-black cursor-pointer"
        aria-hidden="true"
        (click)="onCloseClick()"
      >
        <img src="assets/icons/close.svg" class="w-3 h-3" alt="Close Icon" />
      </div>
    </div>
    <div class="flex h-full w-full min-w-[280px] flex-col justify-center">
      <ng-content select="[dialogBody]"></ng-content>
    </div>
  </div>
</div>
