<div class="w-full">
  <div class="flex gap-6 overflow-x-auto lg:grid lg:grid-cols-8">
    @for (content of contents; track content.id) {
    <div>
      <app-card
        [id]="content.id"
        [imageUrl]="content.posterUrl"
        [hasRating]="true"
        [hasFavorite]="hasIconLove"
        [rating]="content.rating"
        [title]="content.title"
        (clicked)="onCardClick(content.id)"
        (favoriteClicked)="onFavoriteIconClick(content)"
      ></app-card>
    </div>
    }
  </div>
</div>
